/* Colors */
.divider, .green {
  background-color: #80ba24;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
i.v-icon.notranslate.mdi.mdi-menu-down.theme--light {
  color: rgb(255 255 255 / 92%);
}
.v-select__selection.v-select__selection--comma {
  color: rgb(255 255 255 / 92%);
}
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: rgb(255 255 255 / 42%);
}
/* Container */
.container {
  max-width: 1900px;
  padding: 0 !important;
}
/* Dividers */
.divider {
  opacity: 1;
  border-radius: 100%;
}
.dividerW30 {
  opacity: 1;
  width: 30em;
  border-radius: 100%;
}

/* Visibility Classes */
.desktop_invisible {
  display: none !important;
}
.hide {
  display: none;
}
.hidden {
  visibility: hidden;
}
.show {
  display: block;
}

/* Typewriter Animation */
.line-1 {
  border-right: 2px solid rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;
}
.anim-typewriter1 {
  animation: typewriter 1s steps(44) 0.5s 1 normal both;
}
.anim-typewriter2 {
  animation: typewriter 1s steps(44) 1.5s 1 normal both;
}
.anim-typewriter3 {
  animation: typewriter 1s steps(44) 2.5s 1 normal both;
}
.anim-typewriter4 {
  animation: typewriter 1s steps(44) 3.5s 1 normal both;
}
.anim-typewriter5 {
  animation: typewriter 1s steps(44) 4.5s 1 normal both;
}
.anim-typewriter6 {
  animation: typewriter 1s steps(44) 5.5s 1 normal both;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 27em; }
}
@keyframes blinkTextCursor {
  from { border-right-color: rgba(0, 0, 0, 0.75); }
  to { border-right-color: transparent; }
}
/* Animation end */

/* Elements */
.gv-card {
  background-color: rgb(236, 236, 236) !important;
}
.footerText {
  color: white;
  font-size: 0.8em;
}
/* Section */
h1, p {
  color: black;
}
.goalscontainer {
  text-align: center;
  margin-top: 1.5em;
}

/* Text */
.text {
  width: 40em;
  padding: 2em;
  position: absolute;
  top: 1em;
}
.text_xs {
  padding: 2em;
  top: 1em;
}

/* Section */
.section {
  display: inline-block;
  position: relative;
  width: 40em;
}
.left {
  right: 28em;
}
.right {
  right: -28em;
}
.mobile_right {
  right: 0em;
}

/* Item */
.item {
  background-color: #252525;
  padding: 2em;
}

/* Rounded */
.rund {
  border-radius: 200px;
}

.section_header {
  position: absolute;
  margin-top: 0.5em;
  left: 0;
  right: 0;
  text-align: center;
}

.free-btn{
  position: absolute;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.locked {
  opacity: 0.7;
}

.zentriert {
  position: absolute;
  margin: 5em;
  width: 10em;
  top: 2em;
  left: -0.5em;
  opacity: 1 !important;
  scale: 10;
}

.v-parallax__content {
  padding: 0px !important;
}

/* CSS for flickity Component */ 
.flickity-button {
  background: #4a5c66;
}
.flickity-button:hover {
  background: #80ba24;
}
.flickity-prev-next-button {
  width: 5em;
  height: 5em;
  border-radius: 5px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: 40px;
}
.flickity-prev-next-button.next {
  right: 40px;
}
.flickity-page-dots {
  bottom: -22px;
}
.flickity-page-dots .dot {
  background-color: #4a5c66;
}
.flickity-page-dots .dot.is-selected {
  background: #80ba24;
  scale: 1.5;
}
/* CSS for flickity Cells */ 
.carousel-cell {
  height: 35em !important;
  border-radius: 5px;
  padding: 0 !important;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  box-shadow: 1em 1em 1em rgba(51, 42, 42, 0.7) !important;
}